<p id="notice"><%= notice %></p>

<div class="row">
  <h1>Listing Questions</h1>

  <%= link_to 'New Question', new_question_path, class: "btn btn-default" %>
  <table class="table">
    <thead>
      <tr>
        <th>id</th>
        <th>content</th>
        <th>actions</th>
      </tr>
    </thead>

    <tbody>
      <% @questions.each do |question| %>
        <tr>
          <td><%= question.id %></td>
          <td><%= question.content %></td>
          <td><%= link_to 'Show', question %></td>
          <td><%= link_to 'Edit', edit_question_path(question) %></td>
          <td><%= link_to 'Destroy', question, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <br>

</div>
