<div class="row">
<h3>Question: <%= @question.content %></h3>

	<div class="col-md-4">
		<img src="<%= @question.question_image %>" style="max-width: 250px"><br/><br/>
		<b>Id: </b><%= @question.id %><br/>
		<b>Owner: </b><%= @question.owner.username %><br/><br/>

		<%= link_to 'Edit', edit_question_path(@question) %> |
		<%= link_to 'Back', questions_path %>
	</div>

	<div class="col-md-8">
		<h4>Responses:</h4>
			<table class="table">
				<thead>
		      <tr>
		        <th>id</th>
		        <th>username</th>
		        <th>is_yes?</th>
		      </tr>
		    </thead>
				<% @responses.each do |r|  %>
				<tr>
					<td><%= r.user.id %></td>
					<td><%= r.user.username %></td>
					<td><%= r.is_yes %></td>
				</tr>
				<% end %>
			</table>
			<%= link_to 'New Response', new_question_response_path(@question.id) %>
	</div>
</div>

